<div class="title-header">
    <span>Current game</span>
</div>

<ng-container *ngIf="(currentGame$ | async) as currentGame">
    <div class="current-game-body">
        <div class="current-game-round">
            <span>Round #{{ currentGame.currentRound.roundId }}</span>
        </div>

        <div class="current-game-pokemon">
            <ng-container *ngFor="let poke of (currentPokemon$ | async)">
                <div class="card">
                    <img [src]="poke.sprite" />
                    <span>{{ poke.name | titlecase }}</span>
                </div>
            </ng-container>

        </div>

        <div *ngIf="showActivePlayers" class="current-game-players">
            <span>Active players: </span>
            <ng-container *ngFor="let player of currentGame.currentGame.players">
                <span>{{ player.name }}</span><br>
            </ng-container>
        </div>

        <div *ngIf="showButton">
            <button class="btn btn-sm" (click)="goToCurrentGame()">go to current game <i class="bi bi-arrow-right-circle"></i></button>
        </div>
    </div>
</ng-container>