<div class="title-header">
    <span>Current game</span>
</div>

<ng-container *ngIf="(currentGame$ | async) as currentGame">
    <div class="current-game-body">
        <div class="current-game-round">
            <span>Round: </span>
            <span>{{ currentGame.currentRound.day }} of week no.{{ currentGame.currentRound.week }}</span>
        </div>

        <div class="current-game-pokemon">
            <ng-container *ngFor="let poke of (currentPokemon$ | async)">
                <div class="card">
                    <img [src]="poke.sprite" />
                    <span>{{ poke.name | titlecase }}</span>
                </div>
            </ng-container>

        </div>

        <div class="current-game-players">
            <span>Active players: </span>
            <ng-container *ngFor="let player of currentGame.currentGame.players">
                <span>{{ player.name }}</span>
            </ng-container>
        </div>
    </div>
</ng-container>