<div class="title-header">
    <span>Current game</span>
</div>

<div class="current-game-body">
    <div class="current-game-round">
        <span>Round #: </span>
        <span>{{ roundNumber }}</span>
    </div>

    <div class="current-game-pokemon">
        <ng-container *ngFor="let poke of (currentPokemon$ | async)">
            <div class="card">
                <img [src]="poke.sprite" />
                <span>{{ poke.name | titlecase }}</span>
            </div>
        </ng-container>

    </div>

    <div class="current-game-mode">
        <span>Mode: </span>
        <span>2 of each Pokémon</span>
    </div>

    <div class="current-game-players">
        <span>Active players: </span>
        <span>{{ currentPlayers }}</span>
    </div>
</div>