:host {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    bestgame-current-game {
        margin-bottom: 20px;
    }

    th {
        font-weight: bold;
        font-size: 1.1em;
    }

    td {
        font-size: 1.1em;
        text-align: center;
    }

    .header {
        display: flex;
        min-height: 96px;
        align-items: center;
        justify-content: center;
    }
}