<div class="container">
    <div class="winners-title">
        <span class="title-header" [title]="title">{{ title }}</span>
        <i class="bi bi-trophy-fill"></i>
    </div>
    <div class="winners-cards">
        <ng-container *ngIf="(gameWinners$ | async) as gameWinners">
            <ng-container *ngFor="let gameWinner of gameWinners">
                <ng-container *ngIf="gameWinner.winner; else no_winners">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">GAME #{{ gameWinner.gameNumber }}</h4>
                            <p class="card-text">{{ gameWinner.winner.name }}</p>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
</div>

<ng-template #no_winners>
    <div>
        <span>No winners yet!</span>
    </div>
</ng-template>