:host {
    display: flex;
    flex-direction: column;
    padding-left: 150px;
    padding-right: 150px;

    .pokemon-header {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        margin-bottom: 10px;
    }

    .pokemon-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 200px;
        padding-right: 200px;

        ::ng-deep pokemon-card:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    label {
        color: white;
    }
}
