:host {
    display: flex;
    flex-direction: column;

    .pokemon-header {
        display: flex;
        align-items: flex-start;
        margin-bottom: 50px;

        *:not(:last-child) {
            margin-right: 10px;
        }
    }

    .pokemon-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 10%;
        padding-right: 50%;

        ::ng-deep pokemon-card:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    label {
        color: white;
    }
}
